# Import Libraries and Data

In [28]:
import pandas as pd

In [29]:
food = pd.read_csv(r'.\u_food_marketing.csv')

food

       Income  Kidhome  Teenhome  ...  MntTotal  MntRegularProds  AcceptedCmpOverall
0     58138.0        0         0  ...      1529             1441                   0
1     46344.0        1         1  ...        21               15                   0
2     71613.0        0         0  ...       734              692                   0
3     26646.0        1         0  ...        48               43                   0
4     58293.0        1         0  ...       407              392                   0
5     62513.0        0         1  ...       702              688                   0
6     55635.0        0         1  ...       563              536                   0
7     33454.0        1         0  ...       146              123                   0
8     30351.0        1         0  ...        44               42                   0
...       ...      ...       ...  ...       ...              ...                 ...
2196  11012.0        1         0  ...        61               38                   1
2197  44802.0        0         0  ...      1029             1009                   0
2198  26816.0        0         0  ...        19               16                   0
2199  34421.0        1         0  ...        21               12                   0
2200  61223.0        0         1  ...      1094              847                   0
2201  64014.0        2         1  ...       436              428                   1
2202  56981.0        0         0  ...      1217             1193                   1
2203  69245.0        0         1  ...       782              721                   0
2204  52869.0        1         1  ...       151              130                   0

[2205 rows x 39 columns]

# Data Exploration and Cleaning

#### Check for duplicates and drop those rows

In [31]:
food[food.duplicated()].count()   #Gives the number of duplicate rows

Income                  184
Kidhome                 184
Teenhome                184
Recency                 184
MntWines                184
MntFruits               184
MntMeatProducts         184
MntFishProducts         184
MntSweetProducts        184
MntGoldProds            184
NumDealsPurchases       184
NumWebPurchases         184
                       ...
marital_Married         184
marital_Single          184
marital_Together        184
marital_Widow           184
education_2n Cycle      184
education_Basic         184
education_Graduation    184
education_Master        184
education_PhD           184
MntTotal                184
MntRegularProds         184
AcceptedCmpOverall      184
Length: 39, dtype: int64

In [32]:
food.drop_duplicates(keep= False, inplace = True)

In [26]:
#food.info()

#### Cleaning Columns

In [33]:
food['Total_Children'] = food[['Kidhome', 'Teenhome']].sum(axis= 1)

In [41]:
food['marital_Divorced'] = food['marital_Divorced'].replace({1:5, 0:0})
food['marital_Married'] = food['marital_Married'].replace({1:4, 0:0})
food['marital_Single'] = food['marital_Single'].replace({1:3, 0:0})
food['marital_Together'] = food['marital_Together'].replace({1:2, 0:0})
food['marital_Widow'] = food['marital_Widow'].replace({1:1, 0:0})

food['Marital_Status'] = food[['marital_Divorced', 'marital_Married', 'marital_Single', 'marital_Together', 'marital_Widow']].sum(axis= 1)
food['Marital_Status_str'] = food['Marital_Status'].map({5: 'Divorced', 4: 'Married', 3: 'Single', 2: 'Together', 1: 'Widow'})

In [50]:
food['education_2n Cycle'] = food['education_2n Cycle'].replace({1:1, 0:0})
food['education_Basic'] = food['education_Basic'].replace({1:2, 0:0})
food['education_Graduation'] = food['education_Graduation'].replace({1:3, 0:0})
food['education_Master'] = food['education_Master'].replace({1:4, 0:0})
food['education_PhD'] = food['education_PhD'].replace({1:5, 0:0})

food['Education_Status'] = food[['education_2n Cycle', 'education_Basic', 'education_Graduation', 'education_Master', 'education_PhD']].sum(axis= 1)
food['Education_Status_str'] = food['Education_Status'].map({5: 'Doctorate', 4: 'Master', 3: 'Bachelor', 2: 'High School', 1: 'Non-High School'})

In [52]:
food['Accepted_Campaigns'] = food[['AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2']].sum(axis= 1)          #Did anyone accept more than 1 campaign?

In [54]:
food[food['Accepted_Campaigns'] != 0].head()

     Income  Kidhome  ...  Education_Status_str  Accepted_Campaigns
9    5648.0        1  ...             Doctorate                   1
17  76995.0        0  ...                Master                   1
21  58607.0        0  ...             Doctorate                   1
30  40548.0        0  ...              Bachelor                   1
49  82582.0        0  ...              Bachelor                   2

[5 rows x 45 columns]